## 학습목표
 1. pandas Series 이해하기

In [1]:
import numpy as np
import pandas as pd

#### **Series 값 변경**
  - 추가 및 업데이트: 인덱스를 이용
  - 삭제: drop함수 이용

In [2]:
s = pd.Series(np.arange(100,105), ['a','b','c','d','e'])
s

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [3]:
s['a'] = 200
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [8]:
s['k'] = 300
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [5]:
s.drop('k') #s 원본은 바뀌지 않음

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [6]:
s

a    200
b    101
c    102
d    103
e    104
k    300
dtype: int64

In [7]:
s = s.drop('k')
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [7]:
s = s.drop('k')
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [10]:
s.drop('k', inplace=True)
s

a    200
b    101
c    102
d    103
e    104
dtype: int64

In [11]:
s[['a','b']] = [300,900]
s

a    300
b    900
c    102
d    103
e    104
dtype: int64

#### **Slicing**
 - 리스트, ndarray와 동일하게 적용

In [12]:
s1 = pd.Series(np.arange(100,105))
s1

0    100
1    101
2    102
3    103
4    104
dtype: int64

In [13]:
s1[1:3]

1    101
2    102
dtype: int64

In [14]:
s2 = pd.Series(np.arange(100,105), ['a','b','c','d','e'])
s2

a    100
b    101
c    102
d    103
e    104
dtype: int64

In [15]:
s2[1:3]

b    101
c    102
dtype: int64

In [17]:
s2['b':'d'] #문자열일 경우 마지막도 포함함

b    101
c    102
d    103
dtype: int64