## 학습목표
 1. list, tuple에 대해 이해 및 실습

### **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

In [1]:
a = []
print(a)

[]

In [2]:
a = [1,2,3,5,10]
print(a)

[1, 2, 3, 5, 10]

In [4]:
a = ['Korea', 'canada', 1, 23, [34, 56]]
print(a)
len(a)

['Korea', 'canada', 1, 23, [34, 56]]

5

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [5]:
a = 'hello world'
b = list(a)
b

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [7]:
c = (1,2,3)
d = list(c)
d

[1, 2, 3]

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [8]:
a = 'hello world nice weather'
b = a.split() #기본은 띄어쓰기

b

['hello', 'world', 'nice', 'weather']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [12]:
a = [1,2,3,4,5,6]
print(a[2])
print(a[5])
print(a[-1])

3
6
6

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [17]:
#문자열, 튜플 불변(immutable) 

a = 'hello world'
print(a[0])

b = 'jello world'

c = 'j' + a[1:]

d = a.replace('h', 'j')

a, b, c, d

h

('hello world', 'jello world', 'jello world', 'jello world')

In [20]:
a = [1,2,3,4,5]
a[0] = 100
a[-1] = 90
a

[100, 2, 3, 4, 90]

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [29]:
a = [1,2,3,4,5,6,7,8]
print(a[4:7])
print(a[:7])
print(a[3:])
print(a[:])

#slicing
#start:end:increment

a[0:7:2] #마지막 값은 건너뛰는 간격

[5, 6, 7]
[1, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

[1, 3, 5, 7]

### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

* **append()**
 + 리스트의 끝에 항목을 추가함

In [30]:
a = [1,2,3,4,5]
a.append(10)

print(a)

[1, 2, 3, 4, 5, 10]

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [33]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

a.append(b)
print(a[5])
print(a)

[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, [6, 7, 8, 9, 10]]

In [36]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

a += b
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [38]:
a = [1,3,4,5,6]
a.insert(1, 40) #인덱스 1의 위치에 40 대입
a

[1, 40, 3, 4, 5, 6]

+ **remove()**
 * 값으로 항목 삭제

In [41]:
a = [1,2,30,4,5]
a.remove(30)
a

[1, 2, 4, 5]

In [43]:
#지우려는 값이 없으면 오류 발생
a = [1,2,30,4,5]
# a.remove(9)
a

[1, 2, 30, 4, 5]

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [49]:
a = [1,2,3,4,5]
a.pop() #마지막을 지움

print(a)

[1, 2, 3, 4]

In [50]:
a = [1,2,3,4,5]
a.pop(1) #인덱스 1을 지움
d = a.pop(2)

print(a)
print(d)

[1, 3, 5]
4

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [51]:
a = [2,6,7,9,10]
a.index(9)

3

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [52]:
a = [1,2,3,4,5,10]
b = 9
c = b in a 
c

False

In [53]:
a = [1,2,3,4,5,10]
b = 10
c = b in a 
c

True

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환

In [54]:
a = [9,10,7,19,1,2,20,21,7,8]
a.sort()
a #작은 순서대로 정렬

[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

In [55]:
a = [9,10,7,19,1,2,20,21,7,8]
a.sort(reverse=True)
a #작은 순서대로 정렬

[21, 20, 19, 10, 9, 8, 7, 7, 2, 1]

In [57]:
a = [9,10,7,19,1,2,20,21,7,8]
b = sorted(a) #원본은 안바뀜
print(a)
print(b)

[9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
[1, 2, 7, 7, 8, 9, 10, 19, 20, 21]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능

In [58]:
a = [1,2,3]
b = (1,2,3)

print(type(a))
print(type(b))

<class 'list'>
<class 'tuple'>

In [61]:
a[0] = 100
print(a)

#튜플은 item assignment가 안됨
# b[0] = 100
# print(b)

[100, 2, 3]

#### **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [63]:
a = (100, 200)
b = 100, 200

type(a), type(b)

(tuple, tuple)

In [64]:
a, b = 100, 200
a, b

(100, 200)

In [65]:
a, b, c, d = 100, 200, 300, 400
a, b, c, d

(100, 200, 300, 400)

* **연습문제** a와 b의 값을 교환하시오

In [68]:
a = 5
b = 4

#logic

a, b

(5, 4)

In [ ]:
a = b #4
b = a #4

In [67]:
temp = a
a = b
b = temp

a, b

(4, 5)

In [70]:
a, b = b, a
a, b

(5, 4)