## pandas 다중 인덱스(multi index) 연습문제

필요 모듈 임포트

In [1]:
import numpy as np
import pandas as pd

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity='all'

#### 1. 다음과 같이 다중인덱스를 갖는 데이터프레임을 생성하시오.

- 행인덱스 레벨 = 2
- 열인덱스 레벨 = 2
- 데이터 크기는 (6,4)이며 값은 (0,1) 사이의 난수를 갖음
- 인덱스는 MultiIndex를 생성하는 방법을 사용

In [3]:
columns = [['A','A','B','B'],['C1','C2','C1','C2']]
index = [['M', 'M', 'M', 'F' ,'F', 'F'], ['id1', 'id2', 'id3', 'id1', 'id2', 'id3']]

df = pd.DataFrame(np.random.randn(6,4), index=index, columns=columns)
df

              A                   B
             C1        C2        C1        C2
M id1 -1.937191 -0.547792  1.427041 -0.474647
  id2 -0.582967  0.090104 -0.405390 -0.457051
  id3 -1.615502  0.689281 -0.061041 -0.845305
F id1  0.247058  0.545913  1.952132 -1.319976
  id2  1.430206 -0.893843 -0.111507  0.103254
  id3  0.960616  0.098131  1.643754 -0.867241

In [27]:
data = np.round(np.random.randn(6,4),1)
data 
columns = pd.MultiIndex.from_product([['A', 'B'], ['C1', 'C2']],
                                    names =['Cidx1', 'Cidx2'])
columns
index = pd.MultiIndex.from_product([['M', 'F'],['id1','id2','id3']],
                                  names=['Ridx1', 'Ridx2'])
index
df = pd.DataFrame(data=data, index=index, columns=columns)
df

array([[ 0.2, -0. , -1.3,  1. ],
       [ 1.1,  0.7, -0.8, -1. ],
       [ 0.9,  0.1, -0.1, -1.3],
       [ 0.2, -1.3,  0.9,  0.2],
       [-1.2, -0.9,  1.2, -1.1],
       [ 0.3,  0.2, -0.6,  0.7]])

MultiIndex([('A', 'C1'),
            ('A', 'C2'),
            ('B', 'C1'),
            ('B', 'C2')],
           names=['Cidx1', 'Cidx2'])

MultiIndex([('M', 'id1'),
            ('M', 'id2'),
            ('M', 'id3'),
            ('F', 'id1'),
            ('F', 'id2'),
            ('F', 'id3')],
           names=['Ridx1', 'Ridx2'])

Cidx1          A         B
Cidx2         C1   C2   C1   C2
Ridx1 Ridx2
M     id1    0.2 -0.0 -1.3  1.0
      id2    1.1  0.7 -0.8 -1.0
      id3    0.9  0.1 -0.1 -1.3
F     id1    0.2 -1.3  0.9  0.2
      id2   -1.2 -0.9  1.2 -1.1
      id3    0.3  0.2 -0.6  0.7

#### 2. df의 'A'열을 출력하시오.

In [4]:
df['A']

             C1        C2
M id1 -1.937191 -0.547792
  id2 -0.582967  0.090104
  id3 -1.615502  0.689281
F id1  0.247058  0.545913
  id2  1.430206 -0.893843
  id3  0.960616  0.098131

In [28]:
df.A

Cidx2         C1   C2
Ridx1 Ridx2
M     id1    0.2 -0.0
      id2    1.1  0.7
      id3    0.9  0.1
F     id1    0.2 -1.3
      id2   -1.2 -0.9
      id3    0.3  0.2

#### 3. df의 'F'행을 출력하시오.

In [5]:
df.loc['F']

            A                   B
           C1        C2        C1        C2
id1  0.247058  0.545913  1.952132 -1.319976
id2  1.430206 -0.893843 -0.111507  0.103254
id3  0.960616  0.098131  1.643754 -0.867241

#### 4. df의 'A'열의 'C1'열을 출력하시오.

In [9]:
df['A', 'C1']

M  id1   -1.937191
   id2   -0.582967
   id3   -1.615502
F  id1    0.247058
   id2    1.430206
   id3    0.960616
Name: (A, C1), dtype: float64

In [7]:
df['A']['C1']

M  id1   -1.937191
   id2   -0.582967
   id3   -1.615502
F  id1    0.247058
   id2    1.430206
   id3    0.960616
Name: C1, dtype: float64

#### 5. df의 'M'행의  'id1'행을 출력하시오.

In [13]:
df.loc['M']

            A                   B
           C1        C2        C1        C2
id1 -1.937191 -0.547792  1.427041 -0.474647
id2 -0.582967  0.090104 -0.405390 -0.457051
id3 -1.615502  0.689281 -0.061041 -0.845305

In [12]:
df.loc['M', 'id1']

A  C1   -1.937191
   C2   -0.547792
B  C1    1.427041
   C2   -0.474647
Name: (M, id1), dtype: float64

#### 6. df의 ('M', 'id1')행 'A'열을 출력하시오.

In [15]:
df.loc['M', 'id1']['A']

C1   -1.937191
C2   -0.547792
Name: (M, id1), dtype: float64

#### 7. df의 ('M', 'id1')행 ('A','C1')열 요소를 출력하시오.

In [17]:
df.loc['M', 'id1']['A', 'C1']

-1.9371909715183335

In [30]:
df.loc['M', 'id1'].A.C1

0.2

In [29]:
df.loc[('M', 'id1')][('A', 'C1')]

0.2

#### 8. df의 4행 4열의 요소를 출력하시오.

In [22]:
df.iloc[3][3]

/var/folders/d8/9nns59h14_z0hzcqldblr_v00000gn/T/ipykernel_3899/450717632.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.iloc[3][3]

-1.3199763082520242

In [31]:
df.iloc[3,3]

0.2

In [25]:
df.iloc[3]

A  C1    0.247058
   C2    0.545913
B  C1    1.952132
   C2   -1.319976
Name: (F, id1), dtype: float64

#### 9. df의 4행 4열의 요소를 10으로 변경하시오.

In [32]:
df.iloc[3,3] =10
df

Cidx1          A         B
Cidx2         C1   C2   C1    C2
Ridx1 Ridx2
M     id1    0.2 -0.0 -1.3   1.0
      id2    1.1  0.7 -0.8  -1.0
      id3    0.9  0.1 -0.1  -1.3
F     id1    0.2 -1.3  0.9  10.0
      id2   -1.2 -0.9  1.2  -1.1
      id3    0.3  0.2 -0.6   0.7

-----