## 시리즈 연습 문제

#### 문제1.
: 필요한 패키지를 import하고, 별명을 만드시오.

In [1]:
import numpy as np
import pandas as pd

In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

#### 문제2.
: 다음의 조건에 따라 임의로 두 개의 시리즈 객체를 생성하시오.
-  조건1) 모두 문자열 인덱스를 가져야 하며,
-  조건2) 모두 시리즈에 공통적으로 포함되지 않는 인덱스가 있어야 한다.
-  조건3) 값과 시리즈 원소 개수도 임의 설정할 것

In [4]:
x = pd.Series([10, 20, 30, 40], index=['a','b','c','d'])
y = pd.Series([1, 2, 3, 4], index=['a','b','c','e'])
x
y

a    10
b    20
c    30
d    40
dtype: int64

a    1
b    2
c    3
e    4
dtype: int64

In [38]:
z = pd.Series(np.random.randint(10,20,4), index=['a','b','c','e'])
z

a    10
b    11
c    15
e    13
dtype: int64

#### 문제3.
:다음의 시리즈 객체를 이용하여 사칙연산을 수행하고 결과를 출력하시오.

In [41]:
# 시리즈 데이터
ex_s1 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s2 = pd.Series({'국어':95,'영어':80,'수학':75})

In [42]:
ex_s1 + ex_s2 #ex_s1.add(ex_s2)
ex_s1 - ex_s2
ex_s1 * ex_s2
ex_s1 / ex_s2

국어    190
영어    160
수학    150
dtype: int64

국어    0
영어    0
수학    0
dtype: int64

국어    9025
영어    6400
수학    5625
dtype: int64

국어    1.0
영어    1.0
수학    1.0
dtype: float64

#### 문제4. 
: 다음의 두 시리즈 객체를 이용하여 다음 연산을 수행한 결과를 쓰고 왜 그러한지 설명하시오.

In [43]:
ex_s3 = pd.Series({'국어':95,'영어':80,'수학':75})
ex_s4 = pd.Series({'국어':95,'과학':80,'논술':75})

In [44]:
ex_s3 - ex_s4

과학    NaN
국어    0.0
논술    NaN
수학    NaN
영어    NaN
dtype: float64

인덱스가 같은 국어만 연산이 되고 나머지는 NaN으로 표기

In [45]:
ex_s3.values - ex_s4.values

array([0, 0, 0])

ex_s1의 value 값들에서 ex_s2의 value 값들을 뺀것

#### 문제5. 
: 다음의 데이터를 이용하여 주어진 조건에 따라 시리즈 객체를  생성하시오.

In [15]:
#  서울 : 9904312, 부산 : 3448737, 인천 : 2890451  대구 : 2466052   
#  1) 리스트를 이용하여 시리즈 생성
#  2) 딕셔너리를 이용하여 시리즈 생성

pd.Series([9904312, 3448737, 2890451, 2466052], index = ['서울', '부산','인천', '대구'])

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [46]:
data = [9904312, 3448737, 2890451, 2466052]
index = ['서울', '부산','인천', '대구']
s1 = pd.Series(data, index=index)
s1

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [18]:
city2 ={'서울' : 9904312, '부산' : 3448737, '인천' : 2890451,  '대구' : 2466052}
city3 = pd.Series(city2)
city3

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

#### 문제6. 
: 문제5에서 생성한 시리즈에 대한 인덱스를 출력하시오.

In [20]:
city3.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

#### 문제7. 
:문제5에서 생성한 시리즈에 대하여 세번째 인덱스의 값을 문자인덱스로 접근 후 출력하시오.

In [21]:
city3['대구']
s1.대구

2890451

#### 문제8. 
: 문제5에서 생성한 시리즈에 대하여 문자인덱싱을 이용하여 부산, 인천, 대구의 값을 추출하시오.

In [22]:
city3[['부산', '인천','대구']]

부산    3448737
인천    2890451
대구    2466052
dtype: int64

#### 문제9. 
:다음 데이터를 이용하여 시리즈를 생성하고 데이터 순서는 서울, 부산, 인천, 대전 으로 설정하시오.( 딕셔너리 활용 )

In [23]:
#   서울 9631482
#   부산 3393191
#   인천 2632035
#   대전 1490158

city = {'서울': 9631482, '부산': 3393191, '인천': 2632035, '대전': 1490158}
city0 = pd.Series(city)
city0

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [47]:
city0 = pd.Series({'서울': 9631482, '부산': 3393191, '인천': 2632035, '대전': 1490158})
city0

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

#### 문제 10
: 위에서 생성한 시리즈에 인구 라는 이름을 설정하시오

In [26]:
city0.name = '인구'
city0

서울    9631482
부산    3393191
인천    2632035
대전    1490158
Name: 인구, dtype: int64

#### 문제 11
: 위에서 생성한 시리즈의 인구수가 3000000 이상인 도시를 출력하시오

In [27]:
city0[city0 >= 3000000]

서울    9631482
부산    3393191
Name: 인구, dtype: int64

In [48]:
city0[city0 >= 3000000].index

Index(['서울', '부산'], dtype='object')

In [49]:
list(city0[city0 >= 3000000].index)

['서울', '부산']

#### 문제 12
: 위에서 생성한 시리즈의 서울 데이터를 11000000 으로 변경하세요

In [32]:
city0['서울'] = 11000000
city0

서울    11000000
부산     3393191
인천     2632035
Name: 인구, dtype: int64

#### 문제 13
: 대전 데이터를 삭제하세요

In [35]:
del city0['대전']

#### 문제 14
: 대구 데이터가 있는지 확인 하세요

In [33]:
'대구' in city0

False

In [33]:
'대구' in city0

False