### Numpy 연습문제3

In [1]:
import numpy as np

### 연습문제. 마스크 인덱싱

In [17]:
names = np.array(['Beomwoo','Beomwoo','Kim','Joan','Lee','Beomwoo',
                  'Park','Beomwoo'])
data = np.random.randn(8,4)  # 표준정규분포난수

In [18]:
data

array([[ 0.25366454, -0.20037555,  0.13942995, -0.3297124 ],
       [ 0.55402282,  0.86483924,  1.36457421,  0.29021372],
       [ 2.08437993, -0.751212  ,  0.60201831,  0.57641732],
       [ 0.17471195,  0.42982158, -0.00704453, -0.80361422],
       [ 0.28577658, -1.39316567,  2.72800661,  0.40199233],
       [ 0.37245514,  0.08919579,  0.59171826, -0.83800382],
       [-0.09075571, -0.67335694,  0.56276275,  1.51107125],
       [-0.27027708,  0.31341666, -0.55006402, -0.06869444]])

#### 문제1. data array에서 0번째 열이 0보다 작은 행 데이터 가져오기

In [19]:
data[data[:, 0] < 0]

array([[-0.09075571, -0.67335694,  0.56276275,  1.51107125],
       [-0.27027708,  0.31341666, -0.55006402, -0.06869444]])

#### 문제2. data array에서 0번째 열이 0보다 작은 행의 2, 3번째 열 데이터 가져오기

In [20]:
data[data[:, 0] < 0, 2:4]

array([[ 0.56276275,  1.51107125],
       [-0.55006402, -0.06869444]])

----------------------------------------------

### 연습문제: 정렬

In [13]:
name_array = np.array(['John', 'Mike', 'Sarah', 'Kate', 'Samuel'])
score_array = np.array([78, 95, 84, 98, 88])

#### 문제1. 위 행렬에서 성적의 오름차순으로 학생의 이름을 출력하시오.

In [23]:
np.sort(name_array)

array(['John', 'Kate', 'Mike', 'Samuel', 'Sarah'], dtype='<U6')

In [22]:
idx = np.argsort(name_array)
name_array[idx]

array(['John', 'Kate', 'Mike', 'Samuel', 'Sarah'], dtype='<U6')

#### 문제2. 성적이 가장 좋은 사람의 이름을 출력하시오

In [ ]:
name_array[np.argmax(score_array)]